@{
    ViewData["Title"] = "Seller Index";
}

<body style="background-image: url('https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); background-attachment: fixed; background-size: cover;">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 fixed-top" style="margin:1% 15% 0% 15%; border-radius: 14px; background: rgba(255,255,255,0.8); backdrop-filter: blur(10px); border-color: lightgray; border-width: 1.8px; border-style: solid">
        <div class="container-fluid">
            <a class="navbar-brand disabled" style="cursor: default;">MVC Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index">Αρχική</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πελάτες
                        </a>
                        <ul class="dropdown-menu text-dark">
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills">Προβολή λογαριασμού</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Calls">Προβολή ιστορικού κλήσεων</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills_Payment">Εξόφληση λογαριασμού</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1" aria-disabled="true">
                            Διαχειριστές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Δημιουργία νέου πωλητή</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Δημιουργία νέων προγραμμάτων</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Αλλαγή χαρακτηριστικών προγράμματος</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πωλητές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Seller" asp-action="Clients">Καταχώρηση νέου πελάτη</a></li>
                            <li><a class="dropdown-item" asp-controller="Seller" asp-action="Bills">Έκδοση Λογαριασμού πελατών</a></li>
                            <li><a class="dropdown-item" asp-controller="Seller" asp-action="Phones">Διαχείριση πελάτη</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <a class="nav-link text-dark" style="background-color:burlywood; border-radius: 6px; font-weight: bold" asp-action="Signout">Αποσύνδεση</a>


        </div>
    </nav>

    <div style="margin: 25% 25% 2% 25%">
        <h1 style="text-align:center;"> Καλωσήρθες @ViewBag.FirstName</h1>
        <div style="margin: 5% 0% 0% 0%">
            <h5 style="text-align: center;"> Έχετε συνδεθεί ως Πωλητής </h5>
            <h5 style="text-align:center"> Επέλεξε από την επιλογή "Πωλητές" την ενέργεια που επιθυμείς!</h5>
        </div>

    </div>

</body>
