@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<MVC_Project.Models.Call>

@{
    ViewData["Title"] = "Calls";
}


<body style="background-image: url('https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); background-attachment: fixed; background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light box-shadow mb-3 fixed-top position-fixed" style="margin:1% 15% 0% 15%; border-radius: 14px; background: rgba(255,255,255,0.8); backdrop-filter: blur(10px); border-color: lightgray; border-width: 1.8px; border-style: solid">
        <div class="container-fluid">
            <a class="navbar-brand disabled" style="cursor: default;">MVC Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-inline-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav flex-xl-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index">Αρχική</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πελάτες
                        </a>
                        <ul class="dropdown-menu text-dark">
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills">Προβολή λογαριασμού</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Calls">Προβολή ιστορικού κλήσεων</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills_Payment">Εξόφληση λογαριασμού</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1" aria-disabled="true">
                            Διαχειριστές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Δημιουργία νέου πωλητή</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Δημιουργία νέων προγραμμάτων</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Αλλαγή χαρακτηριστικών προγράμματος</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πωλητές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Καταχώρηση νέου πελάτη</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Έκδοση Λογαριασμού πελατών</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Διαχείριση πελάτη</a></li>
                        </ul>
                    </li>
                </ul>


            <a class="nav-link text-dark" style="background-color:burlywood; border-radius: 6px; font-weight: bold" asp-action="Signout">Αποσύνδεση</a>

            </div>
        </div>
    </nav>


    <h2 style="margin-top: 12%"> Προβολή Ιστορικού Κλήσεων</h2>

    <table class="table" style="background-color: white; border-radius: 8px">
        <thead>
            <tr>
                <th>
                    Κωδικός
                </th>
                <th>
                    Τηλεφωνικός Αριθμός
                </th>
                <th>
                    Περιγραφή
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CallId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

    <nav>
        @Html.PagedListPager(Model, page => Url.Action("Calls", new
            {
                page = page
            }), new PagedListRenderOptions()
               {

                   ActiveLiElementClass = "active",
                   PageClasses = new[] { "page-link" },
                   LiElementClasses = new[] { "page-item" },
                   UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                   LinkToNextPageFormat = "Επόμενη",
                   LinkToPreviousPageFormat = "Προηγούμενη",
                   MaximumPageNumbersToDisplay = 5,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
               })

    </nav>

</body>
