@model MVC_Project.Models.Program

@{
    ViewData["Title"] = "Create Program";
}


<body style="background-image: url('https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); background-attachment: fixed; background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light box-shadow mb-3 fixed-top position-fixed" style="margin:1% 15% 0% 15%; border-radius: 14px; background: rgba(255,255,255,0.8); backdrop-filter: blur(10px); border-color: lightgray; border-width: 1.8px; border-style: solid">
        <div class="container-fluid">
            <a class="navbar-brand disabled" style="cursor: default;">MVC Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-inline-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav flex-xl-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index">Αρχική</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πελάτες
                        </a>
                        <ul class="dropdown-menu text-dark">
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills">Προβολή λογαριασμού</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Calls">Προβολή ιστορικού κλήσεων</a></li>
                            <li><a class="dropdown-item" asp-controller="Client" asp-action="Bills_Payment">Εξόφληση λογαριασμού</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1" aria-disabled="true">
                            Διαχειριστές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Sellers">Δημιουργία νέου πωλητή</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Programs">Διαχείριση προγραμμάτων</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark disabled" style="color: gray; opacity: 0.5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Πωλητές
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Καταχώρηση νέου πελάτη</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Έκδοση Λογαριασμού πελατών</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login">Διαχείριση πελάτη</a></li>
                        </ul>
                    </li>
                </ul>


            <a class="nav-link text-dark" style="background-color:burlywood; border-radius: 6px; font-weight: bold" asp-action="Signout">Αποσύνδεση</a>

            </div>
        </div>
    </nav>

    <h2 style="margin-top: 12%">Δημιουργία Προγράμματος</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateProgram">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3" style="padding: 2px;">
                    <label class="form-label">Όνομα Προγράμματος</label>
                    <input asp-for="ProgramName" type="text" class="form-control">
                    <span asp-validation-for="ProgramName" class="text-danger"></span>
                </div>
                <div class="mb-3" style="padding: 2px;">
                    <label class="form-label">Παροχές</label>
                    <input asp-for="Benefits" type="text" class="form-control">
                    <span asp-validation-for="Benefits" class="text-danger"></span>
                </div>
                <div class="mb-3" style="padding: 2px;">
                    <label class="form-label">Κόστος</label>
                    <input asp-for="Charge" class="form-control" type="number" step="0.01">
                    <span asp-validation-for="Charge" class="text-danger"></span>
                </div>
                <div class="mb-3" style="padding: 2px;">
                    <button type="submit" class="btn btn-primary">Δημιουργία</button>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Programs">Πίσω στα προγράμματα</a>
    </div>

</body>

